/* nav{
    background-color:#f5f5f5 ;
} */
/* *
{
    margin: 0;
    padding: 0;

} */
nav {
    width: 100%;
}

header {
    height: 100px;
}

div {
    display: flex;

    /* background-color: aqua; */

}

.hh {
    display: inline;

}

.logo {
    height: 70px;
    background-color: aqua;
}

a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-right: 20px;
}

.left {
    background-color: aqua;
    height: 71px;
}

input {
    height: 40px;
    width: 35%;
    margin: 7px 0px 0px 30px;
    text-transform: capitalize;
    border-radius: 10px;
}

.profile {
    height: 35px;
    width: 45px;
    margin: 7px 2px 0px 15px;

}

.category {
    margin: 20px 10px 10px 0px;
}

.text {
    padding: 10px;
    margin: 20px;
}

.main_profile {
    margin: 0px 0px 0px 15px;
    text-transform: capitalize;
    border-radius: 5px;
}

.watchlist {
    height: 35px;
    width: 45px;
    margin: 7px 2px 0px 15px;
}

.watchlist1 {
    margin: 0px 0px 0px 26px;
    text-transform: capitalize;

}

.beg {
    height: 35px;
    width: 45px;
    margin: 7px 2px 0px 15px;
}

.beg_title {
    margin: 0px 0px 0px 26px;
    text-transform: capitalize;
}

.first_image {
    height: 500px;
    width: 100%;
    margin-bottom: 10px;
}

.second_image {
    height: 500px;
    width: 100%;
    margin-bottom: 10px;
}

.middle {
    font-size: 30px;
    margin: 50px 0 10px 30px;
    color: #3e4152;
}

.p {
    height: 100px;
}

.middle_contain {
    height: 100px;
    width: 25%;
    display: inline;

}

h5 {
    text-transform: capitalize;
}


/* first section images */

/* img {
    align-items: center;
    text-align: center;
} */

.shoes1 {
    padding: 0px;
    height: 300px;
    width: 315px;
    /* position: cover; */
    /* position: relative; */
}

.image2 {
    /* border: 1px solid black; */
    height: 300px;
    width: 315px;
    padding: 0px;
    /* position: relative; */
}

.image3 {
    height: 300px;
    width: 315px;
    padding: 0px;
    /* position: relative; */
}

.image4 {
    height: 300px;
    width: 300px;
    padding: 0px;
}

/* second setion image */


.second_section {

    display: inline-block;
}

.second_sectionimg1 {
    height: 300px;
    width: 315px;
    padding: 0px;
    margin-top: 20px;
}

.second_sectionimg2 {
    height: 300px;
    width: 311px;
    padding: 0px;
}

.second_sectionimg3 {
    height: 300px;
    width: 312px;
    padding: 0px;

}

.second_sectionimg4 {
    height: 300px;
    width: 300px;
    padding: 0px;
}

.thirdrow {
    display: inline-block;
}

.oneimage {
    height: 300px;
    width: 315px;
    padding: 0px;
    margin-top: 20px;
    border: 1px solid black;
    border: none;
}

.shirt {
    height: 300px;
    width: 315px;
    padding: 0px;
    margin-top: 20px;
    border: 1px solid black;
    border: none;
}

.shirt1 {
    height: 300px;
    width: 307px;
    padding: 0px;
    margin-top: 20px;
    border: 1px solid black;
    border: none;
}

.shirt2 {
    height: 300px;
    width: 302px;
    padding: 0;
    margin-top: 20px;
    border: 1px solid black;
    border: none;


}

h2 {
    text-transform: uppercase;
    font-size: 30px;
    margin: 50px 0 10px 30px;
    color: #3e4152;

}

.ethnic {

    height: 300px;
    width: 250px;

}

.ethnic1 {
    height: 300px;
    width: 250px;

}

.ethnic_img {
    padding: 0px 0px 0px 301px;
    height: 300px;
    width: 319px;
}

.ethnic_imgg {

    height: 300px;
    width: 251px;
    margin: 0px 0px 0px -112px;

}

.ethnic_imgg1 {
    height: 300px;
    width: 251px;
    margin: 0px 0px 0px -10px;
    /* position: fixed; */
}


/* footer*/

.hr {
    opacity: 0.4;
}

.main_footer {
    background-color: #FAFBFC;
}

/* .footer
{
    width: 100%;
    height: 300px;
    font-weight: 400;
   margin:20px 33px 0px; 
   
} */

.online {
    font-weight: bold;
    font-size: large;
    margin: 30px;
}


.name {
    font-weight: 200px;
    display: block;
    margin-top: 5px;
    /* margin-right: 100px; */
}

.first {
    display: block;
    list-style-type: none;
    text-transform: capitalize;
    margin-right: 10px;
    font-size: small;
}

li {
    list-style-type: none;
    text-transform: uppercase;

}

.online_second {
    margin: -40px 100px;
    font-weight: bold;
    font-size: large;
}

.name2 {
    display: inline;
    margin: 5px 0px 5px -290px;
    display: block;
    list-style-type: none;
    text-transform: uppercase;
    font-size: small;
}

.website {
    margin: -38px 0px 11px 112px;
    font-weight: bold;
    font-size: large;
}

.playstore {
    height: 50px;
    width: 150px;
    margin: 10px 10px 10px -220px;
}

.playstore1 {
    height: 50px;
    width: 150px;
    margin-top: 10px;
}

.touch {
    margin: 100px 0px 0px -300px;
}

.fb {
    height: 30px;
    margin: 140px 0px 0px -110px;
}

.ig {
    height: 30px;
    margin: 140px 9px 5px 20px;
}

.tw {
    height: 30px;
    margin: 140px 0px 0px 15px;
}

.yt {
    height: 30px;
    width: 30px;
    margin: 140px 7px 0px 18px;
}

.original {
    height: 50px;
    width: 50px;
    margin: -50px 200px;
}

.sample {
    margin: -43px 2px 8px -157px;
}

.return {
    height: 50px;
    width: 50px;
    margin: 20px 0px 0px -219px;
}

.sample1 {
    margin: 27px 0px 0px 41px;
}

.down {
    text-transform: capitalize;
    font-weight: bold;
    font-size: large;
    margin: 40px;
}

.uselink
{
    margin: 90px 0px 0px -176px ;
    font-size: small;
}

.over
{
    opacity: 0.4;
}


.copy
{
    height: 10px;
    text-align: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500px;
}

.love
{
    margin: 220px 620px 0px auto;
}

footer{
    background-color: azure;
}